<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_user_note_path(current_user, @note) %> |
<%= link_to 'Back', user_notes_path(current_user) %>
